<?xml version="1.0"?>
<!--
/**
 * Abit_Webhook Module
 *
 * @category    Abit
 * @package     Abit_Webhook
 * @author      Binhdt
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Abit_Blog" setup_version="1.0.3">
    </module>
</config>
