<?xml version="1.0"?>
<!--
/**
 * Abit_Blog Module
 *
 * @category    Abit
 * @package     Abit_Blog
 * @author      Binhdt
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Ui\Model\Export\MetadataProvider">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="abit_blog_post_list" xsi:type="array">
                    <item name="created_at" xsi:type="string">created_at</item>
                    <item name="updated_at" xsi:type="string">updated_at</item>
                </item>
                <item name="abit_blog_cat_list" xsi:type="array"/>
            </argument>
        </arguments>
    </type>
</config>
