<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="abit" translate="label" sortOrder="10">
            <label>Abit</label>
        </tab>
        <section id="abit_blog" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Blog Setting</label>
            <tab>abit</tab>
            <resource>Abit_Blog::blog_config</resource>
            <group id="blog" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="route" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Route Blog</label>
                    <comment>eg. "news" will make the blog accessible from domain.com/news. Must not contain any slashes. Blank for default</comment>
                </field>
                <field id="post_per_page" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Posts Per Page</label>
                    <comment>The number posts displayed per page. 0 to disable pages.</comment>
                </field>
                <field id="url_post_suffix" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Suffix for Posts</label>
                </field>
                <field id="url_cat_suffix" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>URL Suffix for Categories</label>
                </field>
            </group>
        </section>
    </system>
</config>
